*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: 'Open Sans', sans-serif;
}

.green-button {
  background-color: #7BBC00;
  text-decoration: none;
  color: white;
}

/* ---------- LISTA CLASSI CLEARFIX ----------- */

.top-nav-bar::after , .firstS-float::after , .secondS-float::after{
  content: "";
  display: table;
  clear: both;
}
/* ---------------- HEADER ----------------- */
header {
  background-color: #0D325A;
  /* height: 500px; */
}

.header-wrapper {
  margin: auto;
  width: 80%;
  height: 100%;
  border: 1px solid white;
}

.top-nav-bar {
  /* width: 100%; */
}
/* float */
.fluentify-logo , .left-link {
  float: left;
}

.fluentify-logo {
  margin-right: 25px;
}
/* Sezione menù di sinistra */
.left-top-bar {
  padding-top: 15px;
}
.left-link a , .right-link a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  line-height: 30px;
  padding-right: 15px;
}
/* Sezione menù di destra */
.right-link {
  float: right;
}
.right-link a {
  color: white;
}

/* ----------------  FINE - HEADER ----------------- */

/* -------- TOP SECTION -----------*/
.top-section-wrapper {
  background-color: #0D325A;
  height: 440px;
  background-image: url("../img/oldman.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.top-section {
  width: 40%;
  padding: 150px 0 0 150px;
}
.top-section h1 {
  color: white;
}
.plan-structure {
  margin-top: 30px;
}
.plan-structure a {
  padding: 10px;
}

/* ---------- INIZIO MAIN SECTION CONTENENTE N° X SEZIONI ------------- */

.section-wrapper {
  margin: auto;
  height: 500px;
}
.section-bottom-bar {
  width: 98%;
  border-bottom: 1px solid black;
}
/*  --- SEZIONE 1 --- */
.firstS-title {
  text-align: center;
  padding-top: 30px;
}
/* FLOAT 3 COLONNE */
.firstS-float {
  margin: auto;
  width: 70%;
  padding-top: 30px;
}
.firstS-column {
  width: 26%;
  float: left;

}
.firstS-float .central-margin {
  margin-left: 7%;
  margin-right: 7%;
}
.firstS-column hr {
  width: 32px;
  display: inline-block;
}
.firstS-column img {
  height: 150px;
}

/*  --- SEZIONE 2 --- */
.secondS-float {
  margin: auto;
  width: 60%;
  padding-top: 30px;
}
.secondS-column {
  width: 40%;
  float: left;
}
.secondS-column img {
  height: 300px;
}
.secondS-float .left-margin {
  margin-left: 20%;
}

/* Sezione 2 Bottom */
.secondS-bottom {
  line-height: 50px;
  width: 80%;
  margin-left: 20%;
  /* text-align: center; */
}
.secondS-bot-column {
  display: inline-block;
  width: 40%;
}

/* --- SEZIONE 3 --- */
.third-section {
  background-color: #0D325A;
  background-image: url("../img/onetoone_session_pc.png");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 70% 100%;
}
.thirdS-left {
  width: 30%;
  margin-left: 20%;
  padding-top: 150px;
}
